body {
  font-weight: 200;
  background-color: #f1f1f1;
  font-family: 'arimo', trebuchet, helvetica, sans-serif;
  text-align: center;
}

#content {
  margin-top: 5em;
  margin-left: 20%;
}

h2 {
  font-size: 150%;
  color: #2a2c3f;
  margin: 20px;
}

h1 {
  font-size: 200%;
  color: #ffffff;
  padding: 10px;
}

h3 {
  font-size: 150%;
  padding: 5px;
  margin: 10px;
}

p {
  font-size: 100%;
  margin: 5px;
}

header {
  background-color: #2a2c3f;
  width: 400px;
  margin: auto;
}

#blog_index {
  width: 400px;
  margin: 10px auto 20px auto;

}

#dev-posts {
  float: left;
}

#other-posts {
  float: right;

}

.index {
  padding: 25px;
  background-color: #ffffff;
  width: 145px;
}

h3 {
  color: #ffffff;
  background-color: #f55050;
  font-weight: 200;
}

a {
  text-align: center;
  text-decoration: none;
  color: #2a2c3f;
}

a:hover {
  text-decoration: underline;
}