body {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 1400px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #123243;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.alpha {
  margin-top: 0;
}

/*Nav bar*/
header {
  position: fixed;
  width: 100%;
  margin-bottom: 50em;
  background-color: #ffffff;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: ‘Raleway’, helvetica, verdana, trebuchet, sans-serif;
  border-bottom: .1em solid #a3a3a3;
}

header h1 {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin-left: 5%;
}

#links {
  position: relative;
  margin-right: 5%;
}

#links a {
  display: inline-block;
  float: right;
  margin-left: 3%;
  font-size: 1em;
}



/*content section*/
#content {
  display:block;
  top: 4em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#sidebar {
  display: inline-block;
  float: left;
  position: fixed;
  width: 20.875%;
  margin-right: 5.5%;
  margin-top: 4em;
  font-family: 'Raleway’, helvetica, verdana, sans-serif;
}

#sidebar h4{
  font-size: .7em;
}

#sidebar h5 {
  font-size: 1em;
}

#sidebar img {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 1em;
}

#posts {
  display: inline-block;
  float: right;
  width: 73.625%;
  margin-bottom: 2em;
  margin-top: 4em;
  font-family: garamond, georgia, times, serif;
  color: #474747;
}

#posts a {
  color: #f55050;
}

#posts img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: .1em solid #a3a3a3;
}

#posts h2 { /*blog post title*/
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #123243;
  font-family: 'Raleway’, helvetica, verdana, sans-serif;;
}

#posts h3 { /*blog post section titles*/
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 1.2em;
  font-family: 'Raleway’, helvetica, verdana, sans-serif;;
}

.post {
  /*border-bottom: .1em solid #a3a3a3;*/
  padding-top: 2em;
  padding-bottom: 2em;
}